

<div class="about">
    <form [formGroup]="form" class="custom-form" method="put">
      <h1>Edit About</h1>
      
      <textarea
        type="text"
        formControlName="about"
        class="formControl"
        
        name="about"
        placeholder="About"
        required="required"
      ></textarea>
      <div *ngIf="about.errors?.maxlength || about.errors?.pattern"> 
        <p>No ingresar mas de 250 caracteres (al estilo twitter), "La brevedad es el alma del ingenio".</p>
        
      </div> 
      
      <button type="submit" (click)="editAbout()">Editar</button>
      <button routerLink="">Volver</button>
    </form>
  </div>
