.about{
    border: solid 1px black;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    
}

.about-texto{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    word-break:break-all;
}

i {
    cursor: pointer;
    color: blue;
    padding: 5px;
}