<p>experience-add works!</p>





<div class="experienceEdit">
    <form [formGroup]="form" class="custom-form" method="put">
      <h1>Add experience</h1>
      <input
        type="text"
        formControlName="empresa"
        class="formControl"
        
        name="empresa"
        placeholder="Empresa"
        required="required"
      />
      
      <input
        type="text"
        formControlName="puesto"
        class="formControl"
        
        name="puesto"
        placeholder="Puesto"
        required="required"
      />

      <input
        type="number"
        formControlName="fechaInicio"
        class="formControl"
        
        name="fechaInicio"
        placeholder="Inicio"
        required="required"
      />

      <input
        type="number"
        formControlName="fechaFin"
        class="formControl"
        
        name="fechaFinal"
        placeholder="final"
        required="required"
      />
      
      <button type="submit" (click)="addExperience()">Add</button>
      <button routerLink="">Volver</button>
    </form>
  </div>
