.item {
    border: solid 1px black;
    padding-top: 15px;
    
}

h2 {
    margin-top: 1em;
}

div {
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

progress {
    height: 2em;
    width: 50%;

}

i {
    cursor: pointer;
    color: blue;

}

p {
    font-weight: bold;
}