


<div class="projectEdit">
    <form [formGroup]="form" class="custom-form" method="put">
      <h1>Add Project</h1>
      <input
        type="text"
        formControlName="nombre"
        class="formControl"
        
        name="nombre"
        placeholder="Link al proyecto"
        required="required"
      />
      
      <textarea
        type="text"
        formControlName="descripcion"
        class="formControl"
        
        name="descripcion"
        placeholder="Descripcion"
        required="required"
      ></textarea>

      <input
        type="text"
        formControlName="imagenURL"
        class="formControl"
        
        name="imagenURL"
        placeholder="imagenURL"
        required="required"
      />

      
      <button type="submit" (click)="addProject()">Add</button>
      <button routerLink="">Volver</button>
    </form>
  </div>
