<div class="ap-logo">
    <img class="ap-logo-image" src="../../../assets/APLogo-20-20.png">
    <p>#YoProgramo</p>
    
      <div class="btn-login">
        <app-button *ngIf="!usuarioAutenticado" class="btn-login-toggle"
          color="{{ usuarioAutenticado ? 'red' : 'green' }}"
          text="{{ usuarioAutenticado ? 'LOGOUT' : 'LOGIN' }}"
          (btnClick)="toggleTask()"
          routerLink="/login"
        ></app-button>
        <app-button *ngIf="usuarioAutenticado" class="btn-login-toggle"
          color="{{ usuarioAutenticado ? 'red' : 'green' }}"
          text="{{ usuarioAutenticado ? 'LOGOUT' : 'LOGIN' }}"
          (btnClick)="logOutButton()"
          
        ></app-button>

    </div>
      
      
 
</div>
<div class="header-container">
  <h1>{{ title }}</h1>
  
  <div class="erase-edit-icon" >
    <i *ngIf="usuarioAutenticado" class="far fa-edit"></i>

  </div>
</div>
<div class="img-portrait" >
  <div class="erase-edit-icon">

    <i *ngIf="usuarioAutenticado" class="far fa-edit"></i>

  </div>
    
    
</div>
