<div class="ap-logo">
    <img class="ap-logo-image" src="../../../assets/APLogo-20-20.png">
    <p>#YoProgramo</p>
    
      <div class="btn-login">
        <app-button class="btn-login-toggle"
          color="{{ showLoginLogout ? 'red' : 'green' }}"
          text="{{ showLoginLogout ? 'LOGOUT' : 'LOGIN' }}"
          (btnClick)="toggleTask()"
          routerLink="{{showLoginLogout ? '/login' : ''}}"
        ></app-button>
      

    </div>
      
      
 
</div>
<div class="header-container">
  <h1>{{ title }}</h1>
  
  <div class="erase-edit-icon">
    <i class="far fa-edit"></i>

  </div>
</div>
<div class="img-portrait">
  <div class="erase-edit-icon">

    <i class="far fa-edit"></i>

  </div>
    
    
</div>
