.redes{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}



.redes>a:hover{
    transition: 0.9s;
    transform: rotate(20deg);
    color: red;
    padding-right: 5px;
    padding-left: 5px;
}