div {
    border: solid 1px black;
    
    border-radius: 5px;

    
}

.project-container {
    height: 15em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 11px;
    

}

.erase-edit-icon>i{
    padding: -2em;
    margin-left: 5px;;
}



.div1 { grid-area: 1 / 1 / 1 / 1; }
.div2 { grid-area: 2 / 1 / 2 / 1; }
.div3 { 
    background-image: url(../../../assets/lobacheva-ina-_x7ytvBOzs8-unsplash.jpg);
    background-size: contain;
    grid-area: 1 / 2 / 3 / 2; 
}



    