
<div class="login">
    <form [formGroup]="form" class="custom-form" method="post">
      <h1>Login</h1>
      <input
        
        type="nombreUsuario"
        formControlName="nombreUsuario"
        class="formControl"
        [(ngModel)]="nombreUsuario"
        name="nombreUsuario"
        placeholder="User"
        required="required"
      />
      
      <input
        type="password"
        formControlName="password"
        class="formControl"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <div *ngIf= "Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="text-danger">
              El password es requerido
        </p>
        <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
          El password tiene que tener mas de 6 caracteres
      </p>
    </div>
      <button type="submit" (click)="login()">Log in</button>
    </form>
  </div>